@model AAventura.Models.LocalPasswordModel
    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <ol>
            <li>
                <label for="OldPassword">Digite a sua password</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </li>
            <li>
                <label for="NewPassword">Nova Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </li>
            <li>
                <label for="ConfirmPassword">Confirme Nova Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </li>
        </ol>
        <input type="submit" value="Alterar Password" />
    }
