@model AAventura.Models.Utilizador
@using AAventura.Models 
@{
    ViewBag.Title = "Editar";
}
<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Editar Password</h1>

        <ol class="breadcrumb hidden-xs">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Account/Perfil/@ViewBag.UserId">Perfil</a></li>
        <li><a href="/Account/Edit/@ViewBag.UserId">Editar Perfil</a></li>
        <li class="active">Editar Password</li>
        </ol>
    </div>
</header>

    <div class=" col-md-7 col-centered">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>

        <p class="message-success">@ViewBag.StatusMessage</p>

        <p>Estás autenticado como <strong>@User.Identity.Name</strong></p>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>

