@using AAventura.Models
@model AAventura.Models.Utilizador
@{
    ViewBag.Title = "O Meu Perfil";
}
<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">O meu perfil</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="/Home/Index">Home</a></li>

            <li class="active">Perfil</li>
        </ol>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <img src=@Model.Avatar alt="avatar" class="img-responsive imageborder">
            </section>
            <section>
                <a href="@Url.Action("Edit", "Account", new { id = ViewBag.UserId})" class="btn btn-block btn-warning">Edita o teu perfil</a>
                @if (@Model.Estado == 0)
                {
                <a href="@Url.Action("Index", "DashBoard")" class="btn btn-primary btn-block">Painel de administração</a>
                }
            </section>
        </div>
        <div class="col-md-8">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-user"></i> Informações Pessoais</div>
                    <table class="table table-striped">
                        <tr>
                            <th>Email</th>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>@Model.UserName</td>
                        </tr>
                        <tr>
                            <th>Nome</th>
                            <td>@Model.Nome</td>
                        </tr>
                    </table>
                </div>
            </section>

            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-table"></i> Dados de Jogo</div>
                    <table class="table table-striped">
                        <tr>
                            <th>Perguntas Certas</th>
                            <td>@Model.NrRespostasCertas</td>
                        </tr>
                        <tr>
                            <th>Perguntas Erradas</th>
                            <td>@Model.NrRespostasErradas</td>
                        </tr>
                        <tr>
                            <th>Voltas Dadas</th>
                            <td>@Model.VoltasDadas</td>
                        </tr>
                        <tr>
                            <th>Highest Score</th>
                            <td>@Model.HighScore</td>
                        </tr>
                        <tr>
                            <th>Tempo</th>
                            <td>@Model.TempoTotal</td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div> <!-- container  -->
