@model AAventura.Models.Aventura

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Aventura</legend>

        @Html.HiddenFor(model => model.AventuraId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Moedas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Moedas)
            @Html.ValidationMessageFor(model => model.Moedas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Exploradores)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Exploradores)
            @Html.ValidationMessageFor(model => model.Exploradores)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
