@model AAventura.Models.Item
@{
    ViewBag.Title = "Itens";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1><small>DashBoard Admin</small></h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-rocket"></i> Itens</li>
            </ol>
        </div>
    </div>
@using (Html.BeginForm("AdicionarItem", "DashBoard", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Encode(TempData["message"])
    <h2>Adicionar Item</h2>
    <div class="col-md-8 col-centered">
        <div class="panel panel-primary animated fadeInDown">

            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="InputNome">Nome<sup>*</sup></label>
                        @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="InputCusto">Custo<sup>*</sup></label>
                        @Html.TextBoxFor(m => m.Custo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Escolha a</label>
                        @Html.LabelFor(m => m.imagem)
                        <input id="imagem" name="imagem" type="file">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" value="AdicionarItem">Adicionar</button>
                </form>

            </div>
        </div>
    </div>
}

    <h2>Remover item</h2>
    <div class="col-centered col-lg-6">
        <h3>Lista de Items</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th>ID <a><i class="fa fa-sort"></i></a></th>
                        <th>Nome <a><i class="fa fa-sort"></i></a></th>
                        <th>Custo (Moedas) <a><i class="fa fa-sort"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Lista)
                    {
                    <tr>
                        <td>@item.ItemId</td>
                        <td>@item.Descricao</td>
                        <td>@item.Custo</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="bs-example">
            <ul class="pager">
                @if (ViewBag.Pag > 0)
                {
                    <li><a href="@Url.Action("Itens", "DashBoard", new { pag = ViewBag.Pag - 1 })">Anterior</a></li>
                }
                @if ((ViewBag.Size % ViewBag.Elem) == 0)
                {
                    if (ViewBag.Pag < ViewBag.Elem - 1)
                    {
                        <li><a href="@Url.Action("Itens", "DashBoard", new { pag = ViewBag.Pag + 1 })">Próximo</a></li>
                    }
                }
                @if ((ViewBag.Size % ViewBag.Elem) != 0)
                {
                    if (ViewBag.Pag < ViewBag.Elem)
                    {
                        <li><a href="@Url.Action("Itens", "DashBoard", new { pag = ViewBag.Pag + 1 })">Próximo</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-centered">
        <div class="form-group">
            <label>Insira o "ID" do item pretendido</label>
            <input id="iditem"class="form-control" placeholder="Escreva aqui...">
        </div>
        <script>
            function onClick() {
                if (document.getElementById("iditem").value == "") {
                    alert("Preencha o campo ID");
                }
                else {
                    var url = "/DashBoard/RemoverItem/" + document.getElementById("iditem").value;
                    window.location.href = url;
                }
            }
        </script>
        <button type="submit" class="btn btn-danger pull-right" value="RemoverItem" onclick="onClick()">Remover</button>
    </div>
</div><!-- /#page-wrapper -->