@model AAventura.Models.Pergunta
@{
    ViewBag.Title = "Perguntas";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}
<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1><small>DashBoard Admin </small></h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-edit"></i> Perguntas</li>
            </ol>
        </div>
    </div>
    @using (Html.BeginForm("AdicionarPergunta", "DashBoard", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.Encode(TempData["message"])
        <h2>Adicionar Pergunta</h2>
        <div class="col-md-8 col-centered">
            <div class="panel panel-primary animated fadeInDown">

                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="InputDescricao">Descrição da Pergunta<sup>*</sup></label>
                            @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="InputResposta">Resposta<sup>*</sup></label>
                            @Html.TextBoxFor(m => m.Resposta, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="InputDificuldade">Dificuldade<sup>*</sup></label>
                            @Html.TextBoxFor(m => m.Dificuldade, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="InputAjuda">Ajuda<sup>*</sup></label>
                            @Html.TextBoxFor(m => m.Ajuda, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label id="imagem">Insira o link da imagem</label>
                            @Html.TextBoxFor(m => m.imagem, new { @class = "form-control" })
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="InputHipA">Hipótese A<sup>*</sup></label>
                                    @Html.TextBoxFor(m => m.Ha, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="InputHipB">Hipótese B<sup>*</sup></label>
                                    @Html.TextBoxFor(m => m.Hb, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="InputHipC">Hipótese C<sup>*</sup></label>
                                    @Html.TextBoxFor(m => m.Hc, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="InputHipD">Hipótese D<sup>*</sup></label>
                                    @Html.TextBoxFor(m => m.Hd, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Zona</label>
                            <select id="ZonaId" name="ZonaId" class="form-control">
                                @foreach (var item in ViewBag.Zonas)
                                {
                                    <option value=@item.ZonaId>@item.Nome</option>
                                }
                            </select>

                        </div>
                        <div class="row">

                            <div class="col-md-12 pull_right">
                                <button type="submit" class="btn btn-primary pull-right" value="AdicionarPergunta">Adicionar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    }

    <h2>Remover Pergunta</h2>
    <div class="col-centered col-lg-10">
        <h3>Lista de Perguntas</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th>ID <a><i class="fa fa-sort"></i></a></th>
                        <th>Descrição <a><i class="fa fa-sort"></i></a></th>
                        <th>Resposta <a><i class="fa fa-sort"></i></a></th>
                        <th>Dificuldade <a><i class="fa fa-sort"></i></a></th>
                        <th>Zona <a><i class="fa fa-sort"></i></a></th>
                        <th>Tempo <a><i class="fa fa-sort"></i></a></th>
                        <th>Ajuda <a><i class="fa fa-sort"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Lista)
                    {
                        <tr>
                            <td>@item.PerguntaId</td>
                            <td>@item.Descricao</td>
                            <td>@item.Resposta</td>
                            <td>@item.Dificuldade</td>
                            <td>@item.Zona.Nome</td>
                            <td>@item.Tempo</td>
                            <td>@item.Ajuda</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="bs-example">
            <ul class="pager">
                @if (ViewBag.Pag > 0)
                {
                    <li><a href="@Url.Action("Perguntas", "DashBoard", new { pag = ViewBag.Pag - 1 })">Anterior</a></li>
                }
                @if ((ViewBag.Size % ViewBag.Elem) == 0)
                {
                    if (ViewBag.Pag < ViewBag.Elem - 1)
                    {
                        <li><a href="@Url.Action("Perguntas", "DashBoard", new { pag = ViewBag.Pag + 1 })">Próximo</a></li>
                    }
                }
                @if ((ViewBag.Size % ViewBag.Elem) != 0)
                {
                    if (ViewBag.Pag < ViewBag.Elem)
                    {
                        <li><a href="@Url.Action("Perguntas", "DashBoard", new { pag = ViewBag.Pag + 1 })">Próximo</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-centered">
        <div class="form-group">
            <label>Insira o "ID" da pergunta pretendida</label>
            <input id="idpergunta" class="form-control" placeholder="Escreva aqui...">
        </div>
        <script>
            function onClick() {
                if (document.getElementById("idpergunta").value == "") {
                    alert("Preencha o campo ID");
                }
                else {
                    var url = "/DashBoard/RemoverPergunta/" + document.getElementById("idpergunta").value;
                    window.location.href = url;
                }
            }
        </script>
        <button type="submit" class="btn btn-danger pull-right" value="RemoverPergunta" onclick="onClick()">Remover</button>
    </div><!-- /#page-wrapper -->
</div>