@model IEnumerable<AAventura.Models.Utilizador>
@{
    ViewBag.Title = "Ranking";
}
<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Ranking</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active">Ranking</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Ranking Geral</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>Utilizador <a><i class="fa fa-sort"></i></a></th>
                            <th>Highscore <a><i class="fa fa-sort"></i></a></th>
                            <th>Voltas ao Mundo <a><i class="fa fa-sort"></i></a></th>
                            <th>Perguntas Certas <a><i class="fa fa-sort"></i></a></th>
                            <th>Perguntas Erradas <a><i class="fa fa-sort"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.HighScore)</td>
                            <td>@Html.DisplayFor(modelItem => item.VoltasDadas)</td>
                            <td>@Html.DisplayFor(modelItem => item.NrRespostasCertas)</td>
                            <td>@Html.DisplayFor(modelItem => item.NrRespostasErradas)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
