@model IEnumerable<AAventura.Models.Utilizador>

@{
    ViewBag.Title = "Ranking";
}

<h2>Ranking</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrRespostasCertas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrRespostasErradas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoltasDadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrRespostasCertas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrRespostasErradas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoltasDadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
