@model AAventura.Models.Utilizador
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Index</title>
    <!-- CSS -->
    <link href="~/Content/css//bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css//font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css//animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css//lightbox.css" rel="stylesheet" media="screen">
    <link href="~/Content/css//syntax/shCore.css" rel="stylesheet" media="screen">
    <link href="~/Content/css//syntax/shThemeDefault.css" rel="stylesheet" media="screen">

    <link href="~/Content/css//style.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/css//color-default.css" rel="stylesheet" media="screen" title="default">
</head>

<body>
    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="@Url.Action("Index","Home")">A<span>Aventura</span></a></h1>
                    <p class="animated fadeInLeft">Volta ao Mundo em 80 Questões</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->
        </div>

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">A <span>Aventura</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jogar <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="index.html">Arcade</a></li>
                                <li><a href="index.html">Aventura</a></li>
                            </ul>
                            </li>
                        <li class="dropdown">
                            <a href="aventura.html">Ranking</b></a>
                        </li>
                        <li class="dropdown">
                            <a href="about.html">Sobre o Jogo</b></a>
                        </li>
                        <li class="dropdown">
                            <a href="team.html">A Equipa</b></a>
                        </li>
                        <li class="dropdown">
                            <a href="contact.html">Contacto</b></a>
                        </li>
                    </ul> <!-- nav nabvar-nav -->
                    <ul class="nav navbar-nav navbar-right">
                    @if (!Request.IsAuthenticated) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">Login</h4>

                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Lembrar o meu acesso?
                                            </label>
                                            <button type="submit" class="btn btn-primary pull-right" value="Login">Login</button>
                                        </div>
                                        <br>
                                        <a href="@Url.Action("Register","Account")" class="btn btn-primary pull-right" role="button">Registar</a>

                                        <div class="clearfix"></div>

                                    </div>
                                </form>
                            </div>
                        </li> <!-- dropdown -->
                    }
                        @if (!Request.IsAuthenticated) {
                        <li class="dropdown">
                            <a href="@Url.Action("Register","Account")">Registar</a>
                        </li> <!-- dropdown -->
                        }
                        else
                        { 
                              <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">A minha conta</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="~/Images/avatar.jpg" class="imageborder alignleft" alt="image">
                                <h3>@User.Identity.Name</h3>
                                <h5>@System.DateTime.Now</h5>
                                    <a href="@Url.Action("Perfil","Account", new { id = ViewBag.UserId  })">Perfil</a>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                    }
                        </li> <!-- dropdown -->
                          
                        }
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
        <footer id="footer">
            <p>Laboratórios de Informática IV - Grupo 12</p>
        </footer>
        <div>
        </div> <!-- boxed -->

        <div id="back-top">
            <a href="#header"><i class="fa fa-chevron-up"></i></a>
        </div>



        <!-- Scripts -->
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.cookie.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.mixitup.min.js"></script>
        <script src="~/Scripts/lightbox-2.6.min.js"></script>
        <script src="~/Scripts/holder.js"></script>
        <script src="~/Scripts/app.js"></script>
        <script src="~/Scripts/styleswitcher.js"></script>

        <script src="~/Scripts/syntax/shCore.js"></script>
        <script src="~/Scripts/syntax/shBrushXml.js"></script>
        <script src="~/Scripts/syntax/shBrushJScript.js"></script>

        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>
</body>
</html>
